@font-face {
	font-family: 'Supercell Magic';
	src: url('fonts/Supercell-magic-webfont.eot');
	src: local('☺'), url('fonts/Supercell-magic-webfont.woff') format('woff'), url('fonts/Supercell-magic-webfont.ttf') format('truetype'), url('fonts/Supercell-magic-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


html, body{font-family:sans-serif;text-align:center;font-size:100%;margin:0;padding:0;}
.wrapper{max-width:1140px;margin:0 auto;}

h1{font-family:'Supercell Magic';color:#fbca21;text-shadow:4px 4px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;}
h2{font-family:'Supercell Magic';}

h2+p{margin-top:-1em;}
p{font-size:18px;font-weight:300;}
a{color:#136099;text-decoration:none;transition:0.5s all;}
a:hover{color:#fbca21;}
small{font-size:12px;}
small.updated{font-family:'Supercell Magic';color:#999;}


hr{background-color:#eee;margin:60px 0;border:none;height:1px;}


.haystack em{border:1px solid #999;border-radius:4px;font-style:normal;margin:-5px;padding:14px 0 17px;}
.haystack span,
.needle span,
.source span{border-radius:2px;color:#fff;display:inline-block;font-size:12px;padding:0.2em 1em;line-height:2.5em;margin:4px;text-transform:uppercase;width:43px;text-align:center;}
.haystack em span{border-color:#666;margin:8px 4px;}
.haystack em span:first-child{margin-left:8px;}
.haystack em span:last-child{margin-right:8px;}
span.s{background-color:#e5e5e5;color:#999;}
span.g{background-color:#fbca21;}
span.gi{background-color:#e1bc7b;}
span.m{background-color:purple;}

.haystack{padding-bottom:60px;}
.haystack span{font-size:10px;opacity:0.5;padding:0.2em 0.7em;width:35px;}
.haystack em span{opacity:1;}
		
.padded{background:#333 url('images/125.png') 50% 50% fixed;color:#fff;font-family:'Supercell Magic';margin-bottom:40px;}
.padded p{padding:100px 0;text-shadow:4px 4px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;}

.myorder{overflow:hidden;}
.myorder span{cursor:all-scroll;}

.source{-webkit-user-select: none;-moz-user-select: none;-khtml-user-select: none;-ms-user-select: none;}
.source span{background-size:160px 146px;background-position:bottom right;cursor:pointer;font-family:'Supercell Magic';padding:5px 100px 100px 10px;}
.source span.s{background-image: url('images/silver.png');}
.source span.g{background-image: url('images/gold.png');}
.source span.gi{background-image: url('images/giant.png');}
.source span.m{background-image: url('images/magic.png');}

.needle{}
.button{font-family:'Supercell Magic';}

.trash{border:2px dashed #ddd;color:#ddd;padding:0 20px;margin-left:20px;margin:1em auto;padding:15px 0;}
.trash span{display:none;}

#footer{padding:60px 0;}
#footer p{font-size:12px;}